@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/* ---------------------------------------------color */
.bg-color-name-title{
    background-color: #676770;
}

.ui-menu-color-home{
    background-color: #e67e22;
}
.ui-menu-color-resume{
    background-color: #867363;
}
.ui-menu-color-contact{
    background-color: #b9a18c;
}
.ui-menu-color-download{
    background-color: #66594e;
}
/* ---------------------------------------------Special padding/ margin */

h1, h2, h3, h4 {
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-weight: 300;
    font-family: "Exo", sans-serif;
    color: #fafafa;

}
/* ---------------------------------------------heading */
header{
    margin: 0;
}
.heading{
    margin-left: 50px;
}

.logo{
    background: url(../images/rosie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: slideUp .5s ease-in-out forwards;
    -moz-transition: slideUp .5s ease-in-out forwards;
    -webkit-transition: slideUp .5s ease-in-out forwards;
}
.name{
    margin-top: 50px;
    color: #ffffff;
    font-size: 50px;
    font-family: "Exo", sans-serif;
    font-weight: 100;
}
.title{
    color: #ffffff;
    font-family: "Robot", sans-serif;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 90px;
    font-size: 28px;
}
.list-inline-item:not(:last-child) {
    margin-right: 0;
}
.menu-container{
    font-size: 0;
}

#nav{
    margin: 0;
}

#nav li{
    font-size: 14px;
    padding: 0;
}
.menu-item{
    height:120px;
    padding: 0;
    text-align: center;
}
.menu-item a{
    color: #ffffff;
    width: 100%;
    text-decoration: none;
    height: 120px;
}
.menu-item a i{
    padding-top: 22px;
    color: #fafafa;
    display: block;
    font-size: 26px;
}
.menu-item span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
/* ---------------------------------------------hoover CSS */
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}
/* ---------------------------------------------Footer */

footer{
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.inline-block {
    margin: 0;
    display: inline-block;
}